<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoTotalSpeed"
        tools:targetApi="31">
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Dirtbike"
            android:exported="false" />
        <activity
            android:name=".Touringbike"
            android:exported="false" />
        <activity
            android:name=".Nakedbike"
            android:exported="false" />
        <activity
            android:name=".Sportbike"
            android:exported="false" />
        <activity
            android:name=".Dealer"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".Parts"
            android:exported="false" />
        <activity
            android:name=".Kategori"
            android:exported="false" />
        <activity
            android:name=".Akun"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AutoTotalSpeed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>